html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box !important;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    &:active {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none !important;
    }
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input, textarea {
    padding: 0;
    outline: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: inherit;
    font-size: inherit;
}
button, input[type="submit"] {
    cursor: pointer;
}

hr {
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
    background: #0A0A0A;
}

.no-scroll {
    overflow: hidden;
}

.body-wrapper {
    position: relative;
    overflow: hidden !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/*reset end*/

.body__decor {
    width: 374px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.body__decor--revert {
    left: unset;
    right: 0;
}

.body__decor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content__wrapper {
    width: 1398px;
    margin: 0 auto;
    position: relative;
}

header {

}

.header__img {
    width: 100%;
    height: 277px;
    margin: 12px auto 0;
}

.header__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    height: 1553px;
}

.content__panel {
    width: 278px;
    height: 1553px;
    background-image: url(../img/bg-text.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    /* left: 0; */
}

.content__panel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu__list {
    padding-top: 43px;
    padding-left: 43px;
}

.menu__list li {
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    color: #F1C17E;
}

.menu__list li + li {
    margin-top: 3px;
}

.menu__list li a {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    transition: all .2s;
}

.menu__list li a:hover {
    color: #F1C17E;
}

.content__text {
    width: 660px;
    height: 767px;
    margin-left: auto;
    margin-right: 57px;
    margin-top: 30px;
}

.content__text h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}

.content__text p {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.content__text p + p {
    margin-top: 20px;
}

@media screen and (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .header__img {
        display: none;
    }
}